<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="GitHub" value="https://nuget.pkg.github.com/andrei-shershan/index.json" />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
  </packageSources>
  <packageSourceCredentials>
    <GitHub>
      <add key="Username" value="$env:GITHUB_USER_NAME" />
      <add key="ClearTextPassword" value="$env:GITHUB_READ_PACKAGE_TOKEN" />
    </GitHub>
  </packageSourceCredentials>
</configuration>